name: GitHub Metrics

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

jobs:
  metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

          user: Soubhagya-05
          template: classic
          base: header, activity, community, repositories

          plugin_lines: yes
          plugin_followup: yes
          plugin_achievements: yes
          plugin_achievements_threshold: C
          plugin_achievements_secrets: yes
          plugin_achievements_display: detailed

          plugin_languages: yes
          plugin_languages_details: percentage
          plugin_languages_limit: 8

          plugin_streak: yes
          plugin_stars: yes
          plugin_isocalendar: yes
